@model Proje.Service.Service.DTO.LoginVM


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Areas/Admin/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row" style="margin-top:50px;">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Login Paneli
                    </div>
                    <div class="panel-body">
                        @*<form action="" method="post">

                            </form>*@
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="input-group">
                                <input type="text" name="Email" placeholder="E-Posta Adresiniz" class="form-control" value="" />
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </div>
                            </div>
                            <span class="text-danger">
                                @Html.ValidationMessageFor(x => x.Email)
                            </span>
                            <br />

                            <div class="input-group">
                                <input type="text" name="Password" placeholder="Şirenizi Gİriniz" class="form-control" value="" />
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </div>
                            </div>
                            <span class="text-danger">
                                @Html.ValidationMessageFor(x => x.Password)
                            </span>
                            <br />

                            <input class="btn btn-success pull-right" type="submit" name="name" value="Login" />
                        }
                    </div>
                    <div class="panel-footer"><b>@DateTime.Now.Year</b> &copy; Can Oğuz  </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
