
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model IEnumerable<Proje.Model.Model.Entities.Category>

<form action="/Admin/Product/Add" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label for="Name">Ürün Adı</label>
        <input type="text" name="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Name">Ürün Fiyatı</label>
        <input type="text" name="Price" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Name">Ürün Stok Miktarı</label>
        <input type="text" name="UnitsInStock" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Name">Ürün Birimi</label>
        <input type="text" name="Quantity" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Name">Ürün Kategorisi</label>
        <select name="CategoryID" class="form-control">
            @foreach (var item in Model)
            {
                <option value="@item.ID">@item.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="Name">Ürün Görseli Seçiniz</label>
        <input type="file" name="Image" class="form-control" />
    </div>

    <input type="submit" value="Ekle" class="form-control btn btn-primary" />
</form>


